
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $heading-font-family;
  line-height: $leading-headline;
  //color:$black90;
}

h1 {
  font-size:10vw;
  line-height:1;
  @include breakpoint(m) {
    font-size: 6vw;
  };
}

h2 {
  font-size: 8vw;
  line-height:1.5;
  @include breakpoint(m) {
    font-size: 4vw;
  };
}

h3 {
  font-size: 1rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.05em;
  @include breakpoint(m) {
    font-size: 1.25rem;
  };
}
